services:
  keycloak:
    image: quay.io/keycloak/keycloak:23.0
    container_name: keycloak
    command: ["start-dev"]
    environment:
      KEYCLOAK_ADMIN: keycloak
      KEYCLOAK_ADMIN_PASSWORD: keycloak_pass
      KC_DB: postgres
      KC_DB_URL: jdbc:postgresql://host.docker.internal:5432/keycloak
      KC_DB_USERNAME: keycloak
      KC_DB_PASSWORD: keycloak_pass
      KC_PROXY: edge
    ports:
      - "8080:8080"
    extra_hosts:
      - "host.docker.internal:host-gateway"

  web:
    build:
      context: .
      dockerfile: Dockerfile.web
    container_name: web
    expose:
      - "8000"
    environment:
      REDIS_URL: redis://host.docker.internal:6379/0
    volumes:
      - ./:/app/    # mounts local code, overrides image
      - static_volume:/app/static
    depends_on:
      - keycloak
    extra_hosts:
      - "host.docker.internal:host-gateway"

  worker_crawl:
    build:
      context: .
      dockerfile: Dockerfile.worker_crawl
    container_name: worker_crawl
    environment:
      REDIS_URL: redis://host.docker.internal:6379/0
    volumes:
      - ./:/app/    # mounts local code, overrides image
    depends_on:
      - web
    extra_hosts:
      - "host.docker.internal:host-gateway"

  nginx:
    build:
      context: .
      dockerfile: Dockerfile.nginx
    container_name: nginx
    ports:
      - "80:80"
    depends_on:
      - web
    volumes:
      - static_volume:/static/
    extra_hosts:
      - "host.docker.internal:host-gateway"

volumes:
  static_volume:

