Django
djangorestframework
psycopg2
redis
django-redis
django-environ
ipython
django-extensions

# background tasks
django_rq
jwt
docker

# optional utils
python-dotenv
drf-spectacular

#auth
mozilla_django_oidc

#gunicorn
gunicorn
